# We are fixing the requirements for this example so that it won't break
aiohttp==3.6.0
async-timeout==3.0.1
attrs==22.1.0
chardet==3.0.4
idna==3.4
idna-ssl==1.1.0
multidict==4.7.6
PyYAML==6.0
trame==2.2.1
trame-client==2.3.1
trame-server==2.5.1
trame-vtk==2.0.9
trame-vuetify==2.0.2
typing-extensions==4.1.1
wslink==1.9.1
yarl==1.7.2
